$danger: #b60024;
$success: #00c451;
$primary: #ffc01f;



@import "../node_modules/bootstrap/scss/bootstrap.scss";


@media (max-width: 700px) {
    .row-cols-3 {
        grid-template-columns: 1fr;
    }
}